venv
saved_models
trial.ipynb 
saved_models_bow
saved_models_bert
saved_bert_embed_imdb
.DS_store
logs
#this is used for login to hf
#saved_bert_embed_imdb/IMDB_train_BERT_embeddings.npy not pushed as file is too large, hence the folder is put in gitignore